body { background-color: #DC7633 ; }

.caja  { 
		heigth: 300px;
		 width: 300px;
		 background-color:#EDBB99;
		 border-style: double; }

.caja2 {heigth: 300px;
		width: 300px;
		background-color:#EDBB99;
		border-style: double;}

img { object-fit: contain;
		heigth: 300px;
		width: 300px;

}

header {display: flex;
		flex-direction: row;
		}
li {display: flex;
	flex-direction: row-reverse;}